server:
  port: 9090

spring:
  application:
    name: mcloud-orders

  liquibase:
    change-log: classpath:liquibase/changelog-master.yml
    enabled: true

  kafka:
    bootstrap-servers: localhost:9092
    properties:
      topic:
        name: order-events

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    probes:
      enabled: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE